#header {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    position: relative;
    font-size: 70px;
    top: -20px;
    margin: 0%;
}
p{
    margin: 0;
}

#kka {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    clear: both;
}

body {  
    background-color: pink;
}

#bigbox {
    width: 800px;
    height: 350 px;
    background-color: inherit;
    flex-wrap: wrap;
    flex: row;
    padding-top: 400px;

}

#Max {
    height: 200px;
    width: 250px;
    border-radius: 9px;
    border: 6px solid green;
    background-color: black;
    background-image: url(https://i.imgur.com/ha9Dzyv.jpg);
    background-position: center;
    float: inline-start;
}

#Jet {
    height: 200px;
    width: 250px;
    border-radius: 9px;
    border: 6px solid green;
    background-color: black;
    background-image: url(https://i.imgur.com/8Q6luNQ.png);
    background-position: center;
    float: left;
    margin-left: 35px;

}

#Tommy {
    height: 200px;
    width: 250px;
    border-radius: 9px;
    background-color: black;
    border: 6px solid green;
    background-image: url(https://i.imgur.com/VgICxtx.png);
    background-position: center;
    float: right;
    margin-left: 35;
}
#Bryce {
    height: 200px;
    width: 250px;
    border-radius: 9px;
    border: 6px solid green;
    background-color: black;
    background-image: url(https://i.imgur.com/wTPE7mW.png);
    background-position: center;
    float: left;
    padding-top: 10px;
    align-items: center;
    text-align: center;
}

#Andrew {
    height: 200px;
    width: 250px;
    border-radius: 9px;
    border: 6px solid green;
    background-color: black;
    float: left;
    background-image: url(https://i.imgur.com/U1vOwFD.png);
    background-position: center;
    margin-left: 35px;
    padding-top: 10px;

}

#Aki {
    height: 200px;
    width: 250px;
    border-radius: 9px;
    border: 6px solid green;
    background-color: black;
    float: right;
    margin-left: 35;
    padding-top: 10px;
    background-image: url(https://data.whicdn.com/images/274569644/original.gif);
}