#header {
    height: 5%;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 50px;
}

#kka {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    clear: both;
}

body {  
    background-color: pink;
}

#bigbox {
    width: 1000px;
    height: 100%;
    background-color: inherit;
    flex-direction: row;
    display: inline-block;    
    padding-left: 30px;
}
button{
    height: 250px;
    width: 250px;
    border-radius: 9px;
    border: 15px solid green;
    box-shadow: 5px 10px 5px black;   
    background-position: center;
    padding: 100px;
    margin: 15px;
    align-items: center;
}
#Max {
    background-image: url(https://i.imgur.com/ha9Dzyv.jpg);}

#Jet {
    background-image: url(https://i.imgur.com/8Q6luNQ.png);
}

#Tommy {
    background-image: url(https://i.imgur.com/VgICxtx.png);
}
#Bryce {
    background-image: url(https://i.imgur.com/wTPE7mW.png);
}

#Andrew {
    background-image: url(https://i.imgur.com/U1vOwFD.png);
}

#Aki {
    background-image: url(https://data.whicdn.com/images/274569644/original.gif);
}